<div class="flex min-h-screen justify-content-center align-items-center">
  <div class="border-2 border-400 border-round relative">
    <div
      class="flex align-items-center p-3 text-900 cursor-pointer"
      pStyleClass="@next"
      enterClass="hidden"
      enterActiveClass="scalein"
      leaveToClass="hidden"
      leaveActiveClass="fadeout"
      [hideOnOutsideClick]="true"
    >
      <span>Dropdown</span>
      <span><i class="pi pi-angle-down ml-2"></i></span>
    </div>
    <div class="absolute shadow-2 min-w-full py-2 hidden origin-top">
      <ul class="list-none p-0 m-0">
        <li
          class="block py-2 px-3 no-underline text-900 hover:bg-gray-200 transition-all transition-duration-200 cursor-pointer"
        >
          Prime NG
        </li>
        <li
          class="block py-2 px-3 no-underline text-900 hover:bg-gray-200 transition-all transition-duration-200 cursor-pointer"
        >
          Prime Flex
        </li>
        <li
          class="block py-2 px-3 no-underline text-900 hover:bg-gray-200 transition-all transition-duration-200 cursor-pointer"
        >
          Prime Rct
        </li>
        <li
          class="block py-2 px-3 no-underline text-900 hover:bg-gray-200 transition-all transition-duration-200 cursor-pointer"
        >
          Prime Vue
        </li>
      </ul>
    </div>
  </div>
</div>
